:root {
    --color-primary: #FFEED3;
    --color-secondary: #F4D0CA;
    --color-tetriary: #B4C4FF;
    --color-orange: #FFC700;
    --color-light: #fff;
    --color-dark: #000;
}

$breakpoint-mobile: 48em;