.section-challenge {
  margin-bottom: 12.25em;

  .section-heading {
    text-align: right;

    .heading-title {
      font-weight: 400;
    }

    p {
      font-size: 1em;

      svg {
        vertical-align: middle;
      }
    }
  }

  // ADDED FOR THE REPLACE SECOND section-heading
  .section-info{
    display: flex;
    justify-content: flex-end;
    svg{
        flex-shrink: 0;
        margin-right: 0.875em;
    }

    @media (max-width: $breakpoint-mobile) {
        justify-content: center;
    }
  }
}

.integration-section {
  position: relative;
  max-width: 42.5em;
  margin: -10em auto 6.25em auto;

  p {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    // DO YOU THINK YOU NEED THIS PADDING. IF IT IS SPACE FOR MOBILE, I THINK YOU SHOULD THINK IN GENERAL FOR CONTAINER
    padding-right: 1em;
    margin: 4em 0 2.75em 0;
  }
}

.participants-wrapper {
  display: flex;
  justify-content: space-between;
  // ADDED FOR MY PROPOSAL TO ALIGN ELEMENTS
  align-items: center;

  .wrapper {
    .counter {
      display: block;
      font-family: SF Pro Text;
      font-weight: 700;
      font-size: 14px;
      // ADDED FOR MY PROPOSAL FOR PARTICIPANTS
      text-align: right;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: center;

    .wrapper {
      margin-top: 1.75em;
    }

    // REMOVED FOR MY PROPOSAL FOR PARTICIPANTS
    // .participants {
    //   left: 50%;
    // }
  }
}